<h1>Add an Artist</h1>
<br>
<%= form_for @artist do |f| %>
<div class="field">
  <p class="label-details"><%= f.label :name %></p>
  <%= f.text_field :name, :size => 40 %>
  </div>
  <br>
  <div class="field">
    <p class="label-details"><%= f.label :birthyear, "Year of birth" %></p>
    <%= f.number_field :birthyear, :size => 20, min: 1850, max: 2019 %>
    </div>
    <br>
    <div class="field">
    <p class="label-details"><%= f.label :deathyear, "Year of death (leave blank for living artists)" %></p>
      <%= f.number_field :deathyear, :size => 20, min: 1870, max: 2019, :value => "" %>
      </div>
      <br>
  <div class="action">
  <%= f.submit "Submit" %>
  </div>
<% end %>

<div id="new-form-home-link" class="footer-links">
<h4><%= link_to 'Home', artists_path %></h4>
</div>
