<h1 class="header"><%= @artist.name %></h1>

<% if @artist.deathyear != nil
    @lifespan = "(" + @artist.birthyear.to_s + " - " + @artist.deathyear.to_s + ")"
  else
    @lifespan = "(" + @artist.birthyear.to_s + " - )"
  end %>
<h3 id="lifespan"><%= @lifespan %></h3>

<h4 class="quantity"><%= pluralize(@artist.artworks.count, 'artwork') %></h4>
<ul>
  <% @artist.artworks.each do |artwork| %>
    <li className="artwork-link"><%= link_to artwork.name, artwork_path(artwork) %></li>
  <% end %>
</ul>

<br>
<div class="footer-links">
  <h4><%= link_to 'Back', artists_path %></h4>
  <h4><%= link_to 'Add an Artwork', new_artwork_path %></h4>
</div>
