
<h2><%= @artwork.name %></h2>
<h4><%= @artwork.year %></h4>
<h3>By: <%= link_to @artwork.artist.name, artist_path(@artwork.artist) %></h3>
<br>

<img src=<%= @artwork.image_url%> />
<br>
<br>
<h5><%= link_to "Delete this artwork from the gallery", @artwork, method: :delete, data: {confirm: 'Are you sure?'} %></h5>
<h5><%= link_to "Back to all " + @artwork.artist.name , artist_path(@artwork.artist) %></h5>
<h5><%= link_to 'Home', artists_path %></h5>
<br>
